<!DOCTYPE html><meta charset="utf-8">
<html>
<head>
    <title>Jasmine Spec Runner</title>
    <link rel="stylesheet" type="text/css" href="jasmine.css">
    <script type="text/javascript" src="jasmine.js"></script>
    <script type="text/javascript" src="jasmine-html.js"></script>

    <script type="text/javascript" src="../d3.js"></script>
    <script type="text/javascript" src="../histogram.js"></script>
    <script type="text/javascript" src="../d3.legend.js"></script>
    <script type="text/javascript" src="../histogramSpec.js"></script>

    <script type="text/javascript">
        (function() {
            var jasmineEnv = jasmine.getEnv();
            jasmineEnv.updateInterval = 1000;

            var htmlReporter = new jasmine.HtmlReporter();

            jasmineEnv.addReporter(htmlReporter);
            jasmineEnv.specFilter = function(spec) {
                return htmlReporter.specFilter(spec);
            };

            var currentWindowOnload = window.onload;
            window.onload = function() {
                if (currentWindowOnload) {
                    currentWindowOnload();
                }
                execJasmine();
            };

            function execJasmine() {
                jasmineEnv.execute();
            }
        })();
    </script>

</head>

<body>
</body>
</html>
