<!DOCTYPE html><meta charset="utf-8">
<style>
    body {
        background: #f2f2f2;
        margin: 30px;
    }
    .histogram {
        font: 11px sans-serif;
        font-family: 'Lucida Grande','Calibri',Helvetica,Arial,sans-serif;
    }
    .histogram .bar rect {
        fill: steelblue;
        shape-rendering: crispEdges;
    }
    .histogram .bar rect:hover {
        fill: rgb(62, 104, 146);
    }
    .histogram .axis path, .axis line {
        fill: none;
        stroke: #aaa;
        shape-rendering: crispEdges;
    }
</style>
<head><title></title></head>
<body>
<span id="parameters-per-method-histogram"></span>
<br/><br/><br/>
<span id="fields-per-class-histogram"></span>
<br/><br/><br/>
<span id="methods-per-class-histogram"></span>
<script src="d3.js"></script>
<script>
    const parametersPerMethod = /*parameters_per_method_data*/[1,1,2,2,3,0,4,5,5,5,5,5]/*parameters_per_method_data*/;
    const fieldsPerClass = /*fields_per_class_data*/[1,1,2,2,3,0,4,5,5,5,5,5]/*fields_per_class_data*/;
    const methodsPerClass = /*methods_per_class_data*/[1,1,2,2,3,0,4,5,5,5,5,5]/*methods_per_class_data*/;

    createHistogram("parameters-per-method-histogram", "Amount of parameters per method", parametersPerMethod);
    createHistogram("fields-per-class-histogram", "Amount of fields per class", fieldsPerClass);
    createHistogram("methods-per-class-histogram", "Amount of methods per class", methodsPerClass);

    function createHistogram(elementId, histogramTitle, rawData) {
        var data = shallowCopyOf(rawData);

        var margin = {top: 20, right: 20, bottom: 40, left: 40},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var rootElement = d3.select("#" + elementId).attr("class", "histogram");
        removeChildrenOf(elementId);

        var headerSpan = appendBlockElementTo(rootElement, width);
        headerSpan.append("h2").text(histogramTitle).style({"text-align": "center"});

        var svg = rootElement.append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        updateHistogram();

        /* TODO
        var footerSpan = appendBlockElementTo(rootElement, width).append("span").style({float: "right"});
        footerSpan.append("label").html("Percentile: ");
        var groupByDropDown = footerSpan.append("select");
        for (var i = 100; i > 0; i -= 10) {
            groupByDropDown.append("option").attr("value", i).html(i);
        }
        groupByDropDown.on("change", function() {
            data = shallowCopyOf(rawData);
            var sortedData = data.sort(function (a, b) { return a - b; });

            var percentile = +this.value / 100;
            var i = Math.round((data.length - 1) * percentile);
            var n = sortedData[i];
            while (sortedData[i] == n && i < sortedData.length) i++;

            data = data.filter(function(d) { return d <= n; });

            updateHistogram();
        });*/

        function updateHistogram() {
            var maxValue = d3.max(data) + 1;
            var x = d3.scale.linear().domain([0, maxValue]).range([0, width]);

            var binnedData = d3.layout.histogram().bins(x.ticks(maxValue))(data);
            var maxAmount = d3.max(binnedData, function(d){ return d.y; });

            var almostZero = 0.001; // this is kind of hack because d3.scale.log() doesn't work if domain starts with zero (try example from https://github.com/mbostock/d3/issues/1420)
            var y = d3.scale.log().domain([almostZero, maxAmount]).range([height, 0]);
            var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(numberFormat).tickValues(d3.range(0, maxValue, 1));
            var yAxis = d3.svg.axis().scale(y).orient("left").tickFormat(numberFormat).tickValues(power10TicksUpTo(maxAmount));

            svg.selectAll(".bar").remove();
            var bar = svg.selectAll(".bar")
                    .data(binnedData)
                    .enter().append("g")
                    .attr("class", "bar")
                    .attr("transform", function(d) {
                        return "translate(" + x(d.x) + "," + finiteOr(height, y(d.y)) + ")";
                    });

            var barWidth = (width / maxValue) -1;
            bar.append("rect")
                    .attr("x", 1)
                    .attr("width", barWidth)
                    .attr("height", function(d) { return finiteOr(0, height - y(d.y)); })
                    .append("title")
                    .text(function(d) { return "Amount: " + d.length });
            svg.select((".x.axis")).remove();
            svg.select((".y.axis")).remove();
            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis)
                    .append("text")
                    .attr("transform", "translate(" + (width/2) + ",40)") // TODO
                    .text("Amount of parameters");
            svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6) // TODO
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text("Frequency");
        }

        function removeChildrenOf(elementId) {
            var element = document.getElementById(elementId);
            for (var i = 0; i < element.children.length; i++) {
                parent.removeChild(element.children.item(i));
            }
        }
    }

    function shallowCopyOf(array) {
        return array.slice(0);
    }

    function finiteOr(defaultValue, value) {
        return isFinite(value) ? value : defaultValue;
    }

    function power10TicksUpTo(n) {
        var result = [];
        var i = 1;
        while (i < n) {
            result.push(i);
            i = i * 10;
        }
        result.push(n);
        return result;
    }

    function numberFormat(n) {
        if (!isFinite(n)) return "";
        var s = d3.format(",")(n);
        return s.length < 6 ? s : d3.format("s")(n);
    }

    function appendBlockElementTo(element, width) {
        return element.append("span").style({display: "block", width: width + "px"});
    }
</script>