<!DOCTYPE html><meta charset="utf-8">
<style>
    body {
        background: #f2f2f2;
        margin: 30px;
    }
    .histogram {
        font: 11px sans-serif;
        font-family: 'Lucida Grande','Calibri',Helvetica,Arial,sans-serif;
    }
    .histogram .bar rect {
        fill: steelblue;
        shape-rendering: crispEdges;
    }
    .histogram .bar rect:hover {
        fill: rgb(62, 104, 146);
    }
    .histogram .axis path, .axis line {
        fill: none;
        stroke: #aaa;
        shape-rendering: crispEdges;
    }
</style>
<head><title></title></head>
<body>
<span id="parameters-per-method-histogram"></span>
<br/><br/><br/>
<span id="fields-per-class-histogram"></span>
<br/><br/><br/>
<span id="methods-per-class-histogram"></span>
<script src="d3.js"></script>
<script>
    const parametersPerMethod = /*parameters_per_method_data*/
            function() {
                var size = 987;
                return d3.range(0, size).reduce(function (acc, i) { acc.push([i, Math.pow(size - i, 2)]); return acc; }, []);
            }()
    /*parameters_per_method_data*/;
    const fieldsPerClass = /*fields_per_class_data*/
            function() {
                var size = 163;
                return d3.range(0, size).reduce(function (acc, i) { acc.push([i, Math.pow(size - i, 1.4)]); return acc; }, []);
            }()
    /*fields_per_class_data*/;
    const methodsPerClass = /*methods_per_class_data*/
            [[0, 1], [1, 2], [2, 2], [3, 1], [4, 1], [5, 5]]
    /*methods_per_class_data*/;

    createHistogram("parameters-per-method-histogram", "Amount of parameters per method", parametersPerMethod);
    createHistogram("fields-per-class-histogram", "Amount of fields per class", fieldsPerClass);
    createHistogram("methods-per-class-histogram", "Amount of methods per class", methodsPerClass);

    function createHistogram(elementId, histogramTitle, rawData) {
        var data = rawData.map(function(d) {
            return {amount: d[0], frequency: d[1]};
        });

        var margin = {top: 20, right: 20, bottom: 50, left: 50},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var rootElement = d3.select("#" + elementId).attr("class", "histogram");
        removeChildrenOf(elementId);

        var headerSpan = appendBlockElementTo(rootElement, width);
        headerSpan.append("h2").text(histogramTitle).style({"text-align": "center"});

        var svg = rootElement.append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        updateHistogram();

        function updateHistogram() {
            var maxFrequency = d3.max(data, function(d){return d.frequency;});
            var maxAmount = d3.max(data, function(d){ return d.amount; }) + 1;

            var x = d3.scale.linear().domain([0, maxAmount]).range([0, width]);
            var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(numberFormat).tickValues(range(0, maxAmount, 10));

            var y = d3.scale.log().domain([1, maxFrequency]).range([height, 0]);
            var yAxis = d3.svg.axis().scale(y).orient("left").tickFormat(numberFormat);

            svg.selectAll(".bar").remove();
            var bar = svg.selectAll(".bar")
                    .data(data)
                    .enter().append("g")
                    .attr("class", "bar")
                    .attr("transform", function(d) {
                        return "translate(" + x(d.amount) + "," + y(d.frequency) + ")";
                    });

            var barWidth = atLeast(1, (width / maxAmount) - 1); // -1 to have gap if bars are big, but at least width of 1 if bars are small
            bar.append("rect")
                    .attr("x", 1) // "1" to not overlap x axis
                    .attr("width", barWidth)
                    .attr("height", function(d){ return height - y(d.frequency); })
                    .append("title")
                    .text(function(d){ return "Amount:" + d.amount + "\nFrequency: " + d.frequency});

            svg.select((".x.axis")).remove();
            svg.select((".y.axis")).remove();
            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis)
                    .call(xAxisLabel(histogramTitle))
                    .selectAll(".tick").attr("transform", function (d) {
                        return "translate(" + (x(d) + barWidth / 2) + "," + 0 + ")";
                    });
            svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .call(yAxisLabel("Frequency"));
        }

        function xAxisLabel(labelText) {
            return function(axis) {
                return axis.append("text")
                    .text(labelText)
                    .attr("transform", function(){
                        return "translate(" + ((width / 2) - (this.clientWidth / 2)) + ",40)";
                    });
            }
        }

        function yAxisLabel(labelText) {
            return function(axis) {
                return axis.append("text")
                        .text(labelText)
                        .attr("transform", "rotate(-90)")
                        .style("text-anchor", "end")
                        .attr("y", -40)
                        .attr("x", function () {
                            return -((height / 2) - (this.clientHeight / 2)) + margin.top;
                        });
            }
        }

        function removeChildrenOf(elementId) {
            var element = document.getElementById(elementId);
            for (var i = 0; i < element.children.length; i++) {
                parent.removeChild(element.children.item(i));
            }
        }
    }

    function range(from, to, steps) {
        var stepSize = (to - from) / steps;
        var result = d3.range(from, to, rounded(stepSize));

        var last = result[result.length - 1];
        if (last != to) {
            // don't add value before last one if they are close (otherwise they might overlap in UI)
            if ((to - last) < stepSize / 2) result = result.splice(0, result.length - 1);
            result.push(to); // always add last value
        }

        return  result;
    }

    function rounded(value) {
        var values = [1, 2, 5, 10, 20, 50, 100, 200, 500, 1000];
        var diffs = values.map(function(i){ return Math.abs(i - value); });
        return values[diffs.indexOf(d3.min(diffs))];
    }

    function atLeast(minValue, value) {
        return value < minValue ? minValue : value;
    }

    function numberFormat(n) {
        if (!isFinite(n)) return "";
        var s = d3.format(",")(n);
        return s.length < 4 ? s : d3.format("s")(n);
    }

    function appendBlockElementTo(element, width) {
        return element.append("span").style({display: "block", width: width + "px"});
    }
</script>